@import "tailwindcss";

/* dark mode */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@theme {
  --color-flame: #ffd050;
  --color-space-indigo: #161739;
  --color-purple: #592ea9;
  --color-surface: #1f2933;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-get-sen);
  transition: background 0.3s ease, color 0.3s ease;
}
